<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FlightBooking">

<listeners>
<listener class-name="Utilities.Reporting"/>
</listeners>
	<test name="Booking Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.LoginTest" />
		</classes>

	</test>

</suite>